<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
</head>
<body>
<form action="{{url_for('addstu')}}" method="post">
    <table>
        <tbody>
            <tr>
                <td>id</td>
                <td><input type="text" placeholder="请输入学号" name="addnumber"></td>
            </tr>
            <tr>
                <td>NAME</td>
                <td><input type="text" placeholder="请输入名字" name="addname"></td>
            </tr>
                    <tr>
                <td>院系</td>
                <td><input type="text" placeholder="请输入院系" name="adddepartment"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="提交"></td>
            </tr>
        </tbody>
    </table>
</form>
<br/>
<a href="{{url_for('index')}}">跳转到首页</a>
</body>
</html>